body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


header {
    background-color: #1e3c72;
    color: white;
    text-align: center;
    padding: 25px;
}


nav {
    background-color: #2a5298;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}


footer {
    background-color: #1e3c72;
    color: white;
    text-align: center;
    padding: 10px;
}
